@using (Html.BeginForm("AddSelary", "Company", new { id = ViewBag.Id }, FormMethod.Post))
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    Count:<p class="modal-open">@Html.TextBoxFor(m => m.Selary.Count)</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Pay">
                </div>
            </div>

        </div>
    </div>
}
