@using Microsoft.AspNet.Identity

@{
    
    if (GetShip.Models.Users.Deep_Current_User().Galery != null && GetShip.Models.Users.Deep_Current_User().Galery.ImageData != null)
    {
        byte[] avatar = null;
        avatar = GetShip.Models.Galery.Current_Avatar();
        <img src="data:image;base64,@System.Convert.ToBase64String(avatar)" class="img-circle" style="width:70px"/>
    }

}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
@Html.AntiForgeryToken();

<ul class="nav navbar-nav navbar-right">
   <li>
       @*<img src="data:image;base64,@System.Convert.ToBase64String(avatar)" class="img-circle" />*@
   </li>
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
}